<article class="listing">
  <a onclick={{action "show"}}>
    <h2>{{this.post.title}}</h2>
  </a>

  {{#if showBody}}
  <div class="full post">
    <h3 class="author">
      {{ this.user.name }}
    </h3>
    <img src="https://picsum.photos/id/{{this.post.id}}/{{this.imgSize}}" />
    {{#each this.fullText as |paragraph|}}
    <p>{{paragraph}}</p>
    {{/each}}
  </div>
  {{/if}}
</article>